<div class="header__container">
  <div class="header__logo">
    <img class="logo" src="../../img/logo.png" alt="logo" />
  </div>
  <div>
    <p class="header__sign">Оfficial representative in Europe:</p>
    <p class="header__sign second">ALCH-PROFIL KFT (Hungary)</p>
  </div>
</div>
