.about__content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  padding: 20px;
  @media (width < 960px) {
    flex-direction: column;
  }
}
.about__content__text {
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  @media (width < 960px) {
    text-align: center;
    padding-right: 0px;
  }
}
.about__tittle {
  font-size: 42px;
  text-align: center;
  color: #333333;
  font-weight: 600;

  @media (width < 600px) {
    font-size: 24px;
  }
}
.about__image {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.image {
  max-width: 500px;
  max-height: 400px;
  border-radius: 5px;
  @media (width < 960px) {
    max-width: 480px;
  }
  @media (width < 600px) {
    max-width: 450px;
    max-height: 400px;
  }
}
.about__text {
  font-size: 18px;
  line-height: 2;
  color: #333333;
  @media (width < 600px) {
    font-size: 14px;
  }
}
