.advantages__container {
  background-image: url("../../../img/advantages.jpg");
  width: 100%;
  background-size: cover;
  display: flex;
  gap: 60px;
  padding-block: 50px;
  margin-bottom: 20px;
  @media (width < 860px) {
    flex-direction: column;
    gap: 20px;
  }
}
.advantages__content {
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  max-width: 35%;
  @media (width < 860px) {
    max-width: 100%;
    padding-block: 20px;
  }
}
.advantages__tittle {
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;
  color: white;
  @media (width < 660px) {
    font-size: 26px;
    text-align: center;
  }
}
.advantages__text {
  font-size: 18px;
  color: white;
  @media (width < 860px) {
    max-width: 450px;
  }
  @media (width < 660px) {
    font-size: 14px;
  }
}
.advantages__offers {
  max-width: 800px;
  height: auto;
  padding-block: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  gap: 10px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  border-radius: 5px;
  @media (width < 600px) {
    gap: 10px;
    grid-template-columns: 1fr;
  }
  @media (width < 860px) {
    margin-top: 10px;
  }
}
.offer__card {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-inline: 20px;
}
.offer__image {
  max-width: 65px;
  height: 70px;

  @media (width < 620px) {
    width: 110px;
  }
  @media (width < 440px) {
    width: 150px;
  }
}
.offer__signs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.offer__tittle {
  font-size: 20px;
  color: #424242;
  @media (width<1050px) {
    font-size: 16px;
  }
}
.offer__text {
  font-size: 14px;
  color: #7a7a7a;
  padding-right: 10px;
  line-height: 2;
  @media (width<1050px) {
    font-size: 10px;
  }
  @media (width<900px) {
    font-size: 12px;
  }
}
.modified__card {
  object-fit: cover;

  height: 80px;
}
