.product__card {
    width: 100%;
    margin: 0 auto;
    padding-top: 150px;
  
    .details__info {
      padding-inline: 5px;
    }
    hr {
      border-top: 1px solid rgba(229, 229, 229, 1);
      box-sizing: content-box;
    }
    .img__wrapper {
      position: relative;
      width: 100%;
    }
    .main__info {
      width: 100%;
      .img__wrapper {
        text-align: center;
        width: 100%;
      }
      .img {
        padding: 16px;
        width: 100%;
        max-height: 515px;
        height: 100%;
        object-fit: cover;
        border: 1px solid rgba(229, 229, 229, 1);
        @media (min-width: 770px) {
          padding: 26px;
        }
      }
      .little__icons {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(30px, 1fr));
        gap: 15px;
  
        .icon {
          width: 100%;
          object-fit: cover;
          height: 100%;
          max-height: 105px;
          cursor: pointer;
        }
      }
      .main__info__wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        padding-inline: 5px;
      }
  
      .name {
        margin-left: 15px;
        font-size: 28px;
        font-weight: 700;
        position: relative;
        line-height: 1.5;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .name::before {
        content: "";
        height: 100%;
        position: absolute;
        border-left: 4px solid black;
        top: 0;
        left: -15px;
      }
      .category {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
      }
      .category-bold {
        font-weight: 600;
      }
      .short__description {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 1.8;
        color: rgba(102, 102, 102, 1);
      }
      @media (min-width: 770px) {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;
      }
    }
    .details {
      font-size: 18px;
      font-weight: 600;
      margin-left: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
      position: relative;
    }
    .details::before {
      content: "";
      height: 100%;
      position: absolute;
      border-left: 3px solid black;
      top: 0;
      left: -15px;
    }
  }
  #customers {
    margin-top: 50px;
    margin-bottom: 50px;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eeab00;
    color: white;
  }
  
  .zoom__box {
    position: absolute;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    transform: translate(-50%, -50%);
  }
  .scaled__img {
    position: absolute;
    z-index: 10;
    height: 90%;
    scale: 2;
    background-color: #fff;
  }
  .additional__images {
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    gap: 5px;
    margin-block: 10px;
    @media (width<500px) {
      grid-template-columns: 1fr;
  
      align-items: center;
    }
  }
  .additional__image {
    object-fit: cover;
  }
  
  