.catalogue__products {
  padding-inline: 10px;
  display: grid;
  padding-top: 30px;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 330px));
  gap: 20px;
  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 10px;
  }
  .product__wrapper {
    justify-self: center;
    max-width: 500px;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10px;

    .product__details {
      font-size: 16px;
      line-height: 2;
      color: #333333;
    }
    .product__tittle {
      font-size: 16px;
      font-weight: 700;
      max-width: 280px;
      text-align: center;
      color: #333333;
    }
  }

  .product__text__wrapper {
    transition: top 0.5s ease;
    position: relative;
    top: 0;
    text-align: center;
  }
  .product__text {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s ease;
    @media (min-width: 770px) {
      font-size: 22px;
    }
  }
  .product__img {
    @media (min-width: 1000px) {
      max-width: 400px;
    }
    .img {
      max-height: 250px;
      object-fit: cover;
    }
  }
}
.catalogue__tittle {
  font-size: 42px;
  font-weight: 700;

  text-align: center;
  color: #333333;
  @media (width < 690px) {
    font-size: 24px;
  }
}
.product__button__wrapper {
  text-align: center;
  margin-top: 10px;
  .product__button {
    padding: 7px 12px;
    background-color: #eeab00;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.5s ease-in-out;
  }
  .product__button:hover {
    background-color: #333333;
    color: white;
    scale: 1.1;
    transition: 0.5s ease-in-out;
    border: 1px solid white;
  }
}
