.additional__images {
  display: grid;
  grid-template-columns: repeat(2, minmax(1fr, 1fr));
  gap: 5px;
  margin-block: 10px;

  @media (width<500px) {
    align-items: center;
  }
}
.additional__image {
  object-fit: cover;
}
