<section>
  <div class="about__container">
    <div class="about__content">
      <div class="about__content__text">
        <h2 class="about__tittle">About Us</h2>
        <p class="about__text">
          INGENUITY TRADE SDN BHD is a large-scale Malaysian private enterprise
          mainly engaged in the production, R&D and sales of steel galvanized
          color coated coils and steel building materials. We use high quality
          Nippon paint made in Japan to guarantee our clients the best quality
          of our products. Guarantee time for our goods is 5 years. Life time of
          goods is more than 50 years. <br />
          All contracts with European clients should be concluded with our
          official representative in Europe -
          <strong>ALCH-PROFIL KFT (Hungary)</strong>, see contacts for sending
          inquiry at the bottom of the website.
        </p>
      </div>
      <div class="about__image">
        <img class="image" src="../../img/aboutimage.jpg" alt="image" />
      </div>
    </div>
  </div>
</section>
