<section>
  <div class="advantages__container background__container">
    <div class="advantages__content">
      <h2 class="advantages__tittle">Advantages</h2>
      <p class="advantages__text">
        We use high quality Nippon paint made in Japan to guarantee our clients
        the best quality of our products. Guarantee time for our goods is 5
        years. Life time of goods is more than 50 years.
      </p>
    </div>

    <div class="advantages__offers">
      <div class="offer__card">
        <div class="offer__img">
          <img class="offer__image" src="../../img/diamond.png" alt="" />
        </div>
        <div class="offer__signs">
          <h3 class="offer__tittle">Professional Certification</h3>
          <p class="offer__text">
            Passed the international ISO9000:2008 quality management system
            standard certification enterprise
          </p>
        </div>
      </div>

      <div class="offer__card">
        <div class="offer__img">
          <img class="offer__image" src="../../img/symbol.jpg" alt="" />
        </div>
        <div class="offer__signs">
          <h3 class="offer__tittle">Quality Assurance</h3>
          <p class="offer__text">
            It was recognized by the Provincial Bureau of Quality and Technical
            Supervision
          </p>
        </div>
      </div>

      <div class="offer__card">
        <div class="offer__img">
          <img class="offer__image" src="../../img/steel.png" alt="" />
        </div>
        <div class="offer__signs">
          <h3 class="offer__tittle">Quality Inspection</h3>
          <p class="offer__text">
            Professional quality inspection team and professional equipment to
            provide you with professional product protection.
          </p>
        </div>
      </div>
      <div class="offer__card">
        <div class="offer__img">
          <img class="offer__image" src="../../img/team.png" alt="" />
        </div>
        <div class="offer__signs">
          <h3 class="offer__tittle">Professional Laboratory</h3>
          <p class="offer__text">
            The company has a modern office environment and facilities, as well
            as large-scale advanced qulity controll equipment
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
