<section>
  <div class="additional__images">
    <img class="additional__image" src="../../img/colors.png" alt="" />
    <img class="additional__image" src="../../img/PPGI.png" alt="" />
  </div>
</section>
