<section>
  <h2 class="catalogue__tittle">Our products</h2>
  <div class="catalogue__products">
    <div class="product__wrapper">
      <p class="product__tittle">Prepainted Galvanized Steel Coils</p>
      <div class="product__img">
        <img class="img" src="../../img/prepainted.jpg" />
      </div>
      <div class="product__text__wrapper">
        <p class="product__details">
          Color coated steel plate usually refers to the surface treatment of
          the substrate is coated (roller coating) or bonded organic film and
          baked into the product.
        </p>
        <table id="customers">
          <thead>
            <th>Property</th>
            <th>Information</th>
          </thead>
          <tbody>
            <tr>
              <td>Product name</td>
              <td>Prepainted Galvanized Steel Coils</td>
            </tr>
            <tr>
              <td>Thickness</td>
              <td>0.15 - 0.8 mm</td>
            </tr>
            <tr>
              <td>Width</td>
              <td>750 - 1300 mm</td>
            </tr>
            <tr>
              <td>Zinc coating</td>
              <td>40-250 (g/m2)</td>
            </tr>
            <tr>
              <td>Paint thickness</td>
              <td>18-30Um top/5-8Um back</td>
            </tr>
            <tr>
              <td>Single weight</td>
              <td>2-19T</td>
            </tr>
            <tr>
              <td>Coil ID</td>
              <td>508/610 mm</td>
            </tr>
            <tr>
              <td>Coating Structure</td>

              <td>2/2 front double coating / back double coating</td>
            </tr>
            <tr>
              <td>Hardness</td>
              <td>5-90HRB</td>
            </tr>
            <tr>
              <td>Color</td>
              <td>RAL or according to customer samples</td>
            </tr>
            <tr>
              <td>MOQ</td>
              <td>25T</td>
            </tr>
            <tr>
              <td>Steel Grade</td>
              <td>SGCC, DX51D, ASTM, DIN, GB, JIS</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="product__wrapper">
      <p class="product__tittle">
        Wrinkle Matt Prepainted Galvanized Steel Coils
      </p>
      <div class="product__img">
        <img class="img" src="../../img/wrinkle.jpg" />
      </div>
      <div class="product__text__wrapper">
        <div class="product__details">
          A wrinkle matt prepainted steel sheet has a textured surface finish.
          It's coated with organic paint, creating a distinctive wrinkled or
          matte appearance
        </div>
        <table id="customers">
          <thead>
            <th>Property</th>
            <th>Information</th>
          </thead>
          <tbody>
            <tr>
              <td>Product name</td>
              <td>Wrinkle Matt Prepainted Galvanized Steel Coils</td>
            </tr>
            <tr>
              <td>Thickness</td>
              <td>0.15 - 0.8 mm</td>
            </tr>
            <tr>
              <td>Width</td>
              <td>750 - 1300 mm</td>
            </tr>
            <tr>
              <td>Zinc coating</td>
              <td>40-250 (g/m2)</td>
            </tr>
            <tr>
              <td>Paint thickness</td>
              <td>18-30Um top/5-8Um back</td>
            </tr>
            <tr>
              <td>Single weight</td>
              <td>2-19T</td>
            </tr>
            <tr>
              <td>Coil ID</td>
              <td>508/610 mm</td>
            </tr>
            <tr>
              <td>Coating Structure</td>

              <td>2/2 front double coating / back double coating</td>
            </tr>
            <tr>
              <td>Hardness</td>
              <td>5-90HRB</td>
            </tr>
            <tr>
              <td>Color</td>
              <td>RAL or according to customer samples</td>
            </tr>
            <tr>
              <td>MOQ</td>
              <td>25T</td>
            </tr>
            <tr>
              <td>Steel Grade</td>
              <td>SGCC, DX51D, ASTM, DIN, GB, JIS</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="product__wrapper">
      <p class="product__tittle">Printed Prepainted Galvanized Steel Coils</p>
      <div class="product__img">
        <img class="img" src="../../img/printed.jpg" />
      </div>
      <div class="product__text__wrapper">
        <p class="product__details">
          A printed prepainted steel sheet, also known as a patterned or
          decorative color coated steel sheet, features a unique surface design
          created through a printing.
        </p>
        <table id="customers">
          <thead>
            <th>Property</th>
            <th>Information</th>
          </thead>
          <tbody>
            <tr>
              <td>Product name</td>
              <td>Printed Prepainted Galvanized Steel Coils</td>
            </tr>
            <tr>
              <td>Thickness</td>
              <td>0.15 - 0.8 mm</td>
            </tr>
            <tr>
              <td>Width</td>
              <td>750 - 1300 mm</td>
            </tr>
            <tr>
              <td>Zinc coating</td>
              <td>40-250 (g/m2)</td>
            </tr>
            <tr>
              <td>Paint thickness</td>
              <td>18-30Um top/5-8Um back</td>
            </tr>
            <tr>
              <td>Single weight</td>
              <td>2-19T</td>
            </tr>
            <tr>
              <td>Coil ID</td>
              <td>508/610 mm</td>
            </tr>
            <tr>
              <td>Coating Structure</td>

              <td>2/2 front double coating / back double coating</td>
            </tr>
            <tr>
              <td>Hardness</td>
              <td>5-90HRB</td>
            </tr>
            <tr>
              <td>Color</td>
              <td>RAL or according to customer samples</td>
            </tr>
            <tr>
              <td>MOQ</td>
              <td>25T</td>
            </tr>
            <tr>
              <td>Steel Grade</td>
              <td>SGCC, DX51D, ASTM, DIN, GB, JIS</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
