<section>
  <div class="hero">
    <img class="hero__img" src="../../img/swiper1.jpg" alt="swiper_jpg" />
    <div class="hero__text">
      <h2 class="swiper__tittle">
        TRUSTED PREPAINTED GALVANIZED STEEL COILS MANUFACTURER
      </h2>
      <p class="swiper__text">
        It is a Malaysian large private enterprise mainly engaged in the
        production, R&D and sales of galvanized color coated steel coils.
      </p>
    </div>
  </div>
</section>
