<table id="customers">
    <thead>
      <th>Property</th>
      <th>Information</th>
    </thead>
    <tbody>
        <tr>
            <td>Product name</td>
            <td>Prepainted Steel Coil(sheet)/ PPGI/ Color coated steel coil(sheet)</td>
        </tr>
        <tr>
            <td>Thickness</td>
            <td>0.15 - 0.8 mm</td>
        </tr>
        <tr>
            <td>Width</td>
            <td>750 - 1300 mm</td>
        </tr>
        <tr>
            <td>Single weight</td>
            <td>2-19T</td>
        </tr>
        <tr>
            <td>Coil ID</td>
            <td>508/610 mm</td>
        </tr>
        <tr>
            <td>Coating Structure</td>

            <td>2/2 front double coating / back double coating</td>
        </tr>
        <tr>
            <td>Hardness</td>
            <td>5-90HRB</td>
        </tr>
        <tr>
            <td>Color</td>
            <td>RAL or according to customer samples</td>
        </tr>
        <tr>
            <td>MOQ</td>
            <td>25T</td>
        </tr>
        <tr>
            <td>Steel Grade</td>
            <td>SGCC, DX51D, ASTM, DIN, GB, JIS</td>
        </tr>
        <tr>
            <td>Certificate</td>
            <td>ISO9001:2008, SGS, BV, ISO14001</td>
        </tr>
    </tbody>
  </table>
