<div class="footer__container">
  <div class="footer__content container">
    <div class="footer__item">
      <h3 class="item__tittle">Products</h3>
      <div>
        <p class="item__text">Prepainted Galvanized Steel Coils</p>
      </div>
    </div>
    <div class="footer__item">
      <h3 class="item__tittle">Contact Us</h3>
      <div class="item__text__container">
        <p class="item__text">
          Tel/Fax:
          <a class="footer__a" href="tel:+603-22645295"> +603-22645295 </a>
        </p>
        <p class="item__text">
          E-mail:
          <a class="footer__a" href="mailto:maxchin@igtrade.com.my">
            maxchin@igtrade.com.my
          </a>
        </p>
      </div>
    </div>
    <div class="footer__item">
      <h3 class="item__tittle">Address</h3>
      <div class="item__text__container">
        <p class="item__text">
          NO,7-1.IST FLOOR, <br />
          LORONG BATU NILAM 34B.BANDAR BUKIT TINGGI,
          <br />
          KLANG 41200 SELANGOR DARUL EHSAN, MALAYSIA
        </p>
      </div>
    </div>
  </div>
  <div class="footer__secondary">
    <h3 class="footer__secondary__tittle item__tittle">Sales to Europe:</h3>
    <p class="item__text">
      All contracts should be concluded with our official representative in
      ALCH-PROFIL KFT
    </p>
    <p class="item__text"> Address: Hungary, 3900 Szerencs, Rákóczi utca 43.</p>
     
    </p>
    <p class="item__text">
      E-mail:
      <a class="footer__a" href="mailto:info@alchprofil.com"
        >info@alchprofil.com</a
      >
    </p>
    <p class="item__text">
      Tel: <a class="footer__a" href="tel:+36300963292">+36300963292</a>
    </p>
    <p class="item__text"> Company Nr: 01-09-967585</p>
    <p class="item__text"> EU VAT: HU13444754</p>
  </div>
</div>
