.header__container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 100%;
  z-index: 10;
}
.header__logo {
  padding-inline: 10px;
  padding-block: 10px;
}
.logo {
  width: 250px;
  @media (width<800px) {
    width: 175px;
  }
}
.header__sign {
  font-size: 14px;
  // text-align: center;
  @media (width<800px) {
    font-size: 10px;
  }
}
.header__sign.second {
  font-weight: 700;
}
