@import './base/reset.scss';
@import './template/header.scss';
@import './template/main';
@import './template/footer';

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 340px;
}
body {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  
    line-height: 1.8;
  }
  .background__container {
    width: 100%;
    padding-inline: 20px;
  }
  .container {
    margin: 0 auto;
    /* padding: 20px; */
    min-width: 360px;
    max-width: 1440px;
    @media (min-width: 770px) {
      padding-left: 42px;
      padding-right: 42px;
    }
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  
  